/* Regole generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background-color: black;
    height: calc( 100vh - 80px);
}

footer{
    background-color: rgb(26, 24, 24);
    height:80px;
}