/* Regole generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
     color: #ccc;
     background-color: black;
}

/* Parte principale */
main{
    background-color: black;
    height: calc( 100vh - 100px);
    overflow-y: scroll;
}
/* Parte alta main  */
#main_alto{
    justify-content: flex-end;
    padding: 10px;
}
#speaker_view,#espandi{
    margin:0  3px;
}

/* Parte bassa main  */
    /* Regole freccia  */
.freccia_general{
    font-size: 50px;
}
.image{
    width: 20%;
    padding: 0 2px;
    position: relative;
    padding: 2px;
}
.nome_cognome{
    color: white;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 2px;
    left: 2px;

}
.image img{
    width: 100%;
    height: 100%;
}
/* Regole flex  */
.flex_container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.flex_container_image{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}
.page_number{
    color: white;
}

/* footer  */
footer{
    background-color: rgb(26, 24, 24);
    height:80px;
    margin-top: 20px;
}
.flex_container_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.footer_sx,.footer_center{
    margin-left: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}
.clickhere_footer{
    color:#ccc;
    margin-left: 10px;
}
.item_footer{
    margin-left:30px;
}
.fas.fa-share-square{
    color: yellowgreen;
}
#red{
    color: red;
    text-decoration: none;
    height: 100%;
    line-height: 80px;
    padding: 0 10px;
}

/* Regole hover  */
.hover:hover{
    background-color: rgba(75, 75, 75, 0.6);
}