/* Regole generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
     color: #ccc;
}

/* Parte principale */
main{
    background-color: black;
    height: calc( 100vh - 80px);
}
/* Parte alta main  */
#main_alto{
    justify-content: flex-end;
    padding: 10px;
}
#speaker_view,#espandi{
    margin:0  3px;
}

/* Parte bassa main  */
    /* Regole freccia  */
.freccia_general{
    font-size: 50px;
}
.image{
    width: 20%;
    padding: 0 2px;
    
}
.image img{
    object-fit: cover;
    width: 100%;
}
/* Regole flex  */
.flex_container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    overflow-y: hidden;
}
.flex_container_image{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    overflow-y: hidden;
}
.page_number{
    color: white;
}

/* footer  */
footer{
    background-color: rgb(26, 24, 24);
    height:80px;
    z-index: 999;
}